# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Virtual environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.envrc

# IDE and editor
.vscode
.idea/

# Python
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.egg-info/

# Logs
*.log
